*{
    margin: 0;
    padding: 0;
}

.main-placment{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(121, 119, 119, 0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar-placment{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon-placment{
    width: 200px;
    float: left;
    height: 70px;
}

.logo-placment{
    color: #0E9EF5;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu-placment{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #0E9EF5;
}

.search-placment{
    width: 330px;
    height: 40px;
    float: left;
    margin-left: 270px;
}

.srch-placment{
    font-family: 'Times New Roman';
    width: 200px;
    height: 5px;
    background: transparent;
    border: 1px solid #0E9EF5;
    margin-top: 13px;
    margin-left: 250;
    color: #fff;
    border: right 1px;;
    font-size: 16px;
    float: left;
    padding: 25px;
    border-radius: 5px;
}

.btn-placment{
    width: 120px;
    height: 50px;
    background: #0E9EF5;
    border: 2px solid #0E9EF5;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn-placment:hover{
    color: #000;
}

.btn-placment:focus{
    outline: none;
}

.srch-placment:focus{
    outline: none;
}

.content-placment{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content-placment .par-placment{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content-placment h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content-placment .cn-placment{
    width: 160px;
    height: 40px;
    background: #0E9EF5;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content-placment .cn-placment a{
    text-decoration: none;
    color: rgb(0, 255, 21);
    transition: .3s ease;
}

.cn-placment:hover{
    background-color: #fff;
}

.content-placment span{
    color: #0E9EF5;
    font-size: 65px
}

.form-placment{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%,rgba(0, 0, 0, 0.8)50%);
    margin-top: -300px;
    margin-left: 900px;
    top: -50px;
    left: 1000px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form-placment h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #0E9EF5;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form-placment input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #0E9EF5;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form-placment input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn-placment{
    width: 240px;
    height: 40px;
    background: #0E9EF5;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn-placment:hover{
    background: #fff;
    color: #0E9EF5;
}
.btnn-placment a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.form-placment .link-placment{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form-placment .link-placment a{
    text-decoration: none;
    color: #0E9EF5;
}
.liw-placment{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons-placment a{
    text-decoration: none;
    color: #fff;
}
.icons-placment ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons-placment ion-icon:hover{
    color: #0E9EF5;
}
.charts{
    width: 500px;
    height: 500px;
    background: transparent;
    margin-top: -800px;
    padding-left: 1100px;
}
    


